
/* Variáveis */

:root{
    --cinza-claro: #eee;
    --cinza-medio: #aaa;
    --cinza-borda-claro: #bbb;
    --cinza-borda-escuro: #888;
    --vermelha-borda-escuro: #800;
    --vermelho-vibrante: #ff4d4d;
    --verde-suave: #8a8;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cinza-claro);
}

.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cinza-claro);
    border: 3px solid var(--cinza-borda-claro);
    width: 230px;
    border-radius: 5px;
    
    
}

/* Título */

.div_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    
}

/* Teclas e Tecla */

.teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
}
.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-medio);
    border: 3px solid var(--cinza-borda-escuro);
    border-radius: 10px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 2px;
}


/* Tecla de Operação */

.teclaOp {
    background-color: var(--vermelho-vibrante) !important;
    border-color: var(--vermelha-borda-escuro) !important;
    font-weight: 700;
    font-size: 21px;
}

/* Display */

.div_display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.display {
    width: 220px;
    background-color: var(--verde-suave);
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: 30px;
}

/* Media Querie */

@media (min-width: 600px) {
    .calc {
        width: 350px;
        border-width: 4px;
        border-radius: 8px;
    }

    .div_nome, .div_display, .teclas {
        width: 340px;
    }

    .display {
        width: 340px;
        font-size: 40px;
        padding: 10px;
    }

    .tecla {
        width: 70px;
        height: 70px;
        font-size: 18px;
        margin: 3px;
    }

    .teclaOp {
        font-size: 26px;
    }
}