* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #DAF0FF;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    background: linear-gradient(191.34deg, #17181A -4.95%, #17181A 103.74%);
    border-radius: 39px;
    width: 375px;
    height: 568px;
}